.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 10px;
    width: 100%;
    height: 100%;
}

.grid div {
    position: relative;
    border-radius: 10px;
    background-color: black;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.weidmuller {
    grid-area: 1 / 1 / 2 / 2;
    background-size: contain;
    background-image: url("images/wm-cover.jpg");
}

.pfannenberg {
    background-size: contain;
    background-image: url("images/pfb-cover.jpg");
    grid-area: 2 / 1 / 3 / 2;
}

.panduit {
    background-size: contain;
    background-image: url("images/pdit-cover.jpg");
    grid-area: 1 / 2 / 2 / 3;
}

.intercable {
    background-size: cover;
    background-image: url("images/ic-cover.jpg");
    grid-area: 2 / 2 / 3 / 3;
}

.tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    opacity: 0%;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    transition: ease-in, 0.25s;
    text-align: center;
}

.tooltip:hover {
    opacity: 70%;
}

.tooltip * {
    opacity: 100%;
    display: block;
}